body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ecf0fb;
  color: #000;
}
.navbar {
    background-color: black;
  color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin-top: 40px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-weight: 6000px;
}

.nav-links a:hover{
    border-bottom: 1px solid #01e08e;
    color: #01e08e;
}

.contact-container {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.email-link {
  display: inline-block;
  font-size: 1.5em;
  color: #0057ff;
  text-decoration: none;
  margin-bottom: 10px;
}

.email-link:hover {
  text-decoration: underline;
}

.subtext {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 40px;
}

.contact-form {
  text-align: left;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #0057ff;
  font-size: 0.9em;
}

input, textarea {
  border: none;
  border-bottom: 1px solid #0057ff;
  padding: 8px;
  font-size: 1em;
  background-color: transparent;
  outline: none;
}

textarea {
  resize: vertical;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 20px;
  padding: 10px 30px;
  border: 1px solid #0057ff;
  background: none;
  color: #0057ff;
  font-size: 1em;
  border-radius: 25px;
  cursor: pointer;
  float: right;
}

.submit-btn:hover {
  background-color: #0057ff;
  color: #fff;
}
