* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #000000, #444444);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin-top: 40px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-weight: 6000px;
}

.nav-links li a.active{
    color: #01e08e;
}
.nav-links a:hover{
    border-bottom: 1px solid #01e08e;
    color: #01e08e;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    margin-left: 10%;
    
}

.hero-content {
    max-width: 50%;
    margin-bottom: 20%;
}

.hero-content .intro {
    color: #aaa;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hero-content .description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.8rem 2rem;
    background: transparent;
    border: 2px solid #01e08e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #01e08e;
    color: black;
}

.hero-image img {
    max-width: 400px;
    border-radius: 1000px;
    margin-bottom: 50%;
}